name: Pull request builder

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - uses: swift-actions/setup-swift@65540b95f51493d65f5e59e97dcef9629ddf11bf
      with:
        swift-version: "5.9.2"
    - name: Install swift-format tool
      run: brew install swift-format
    - name: Swift-format linting Sources directory
      run: swift-format lint -s -r ./Sources
    - name: Swift-format linting Tests directory
      run: swift-format lint -s -r ./Tests
    - name: Build
      run: swift build -v
    - name: Run unit tests
      run: swift test -v